<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

    <system.web>
        <compilation debug="false" targetFramework="4.0" />
    </system.web>
  <connectionStrings>
    <add name="conn" connectionString="Server=451863dd-352c-4cb5-8d51-a33400627434.sqlserver.sequelizer.com;Database=db451863dd352c4cb58d51a33400627434;User ID=zynqwogjqhfthzlp;Password=gDrGVL27A74jcWp6pUESBXpGYivnEZ3aaamJKEysfHn4MfsYbpFDxQjrpSQLpNzH;/>
    
  </connectionStrings>
</configuration>
